*
{
    margin: 0;
    padding: 0;

}

body
{
    background-color: rgb(153, 172, 166);
}



#container
{

    height: 100vh;
    display: grid;

    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
}

#sidebar
{
    background-color: rgb(36, 142, 212);

    color: white;

    grid-row: 1 / -1;
}

#header
{
    background-color: white;
}

#main
{
    background-color: rgb(99, 122, 122);
}