*
{
    margin: 0;
    padding: 0;

}


:root
{
    font-size: 16px;
}
body
{
    background-color: rgb(153, 172, 166);
}



#container
{

    height: 100vh;
    display: grid;

    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
}

#sidebar
{
    background-color: rgb(36, 142, 212);

    color: white;

    grid-row: 1 / -1;

    display: grid;

    grid-template-columns: 1fr;

    grid-template-rows: 100px repeat(5, clamp(30px, 50px, 80px)) 200px repeat(3, clamp(30px, 50px, 80px));

    grid-gap: 10px;
}

#header
{
    background-color: white;
}

#main
{
    background-color: rgb(99, 122, 122);
}

#dash
{
    display:grid;
    grid-template-columns: 1fr 1fr;
}


#dash > h1
{
    margin: 20px;
    font-size: 2.3rem;
}

#dash > img
{
    height: 80px
}
.nav-btn
{
    display: grid;

    grid-template-columns: 60px 100px;
    margin-left: 10px;
}

.nav-text
{
    font-size: 1.7rem;
}
.icon
{
    height: 30px;
    filter: invert(100%);
}