*
{
    margin: 0;
    padding: 0;

}


:root
{
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}
body
{
    background-color: rgb(153, 172, 166);
}



#container
{

    height: 100vh;
    display: grid;

    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
}

#sidebar
{
    background-color: rgb(36, 142, 212);

    color: white;

    grid-row: 1 / -1;

    display: grid;

    grid-template-columns: 1fr;

    grid-template-rows: 100px repeat(5, clamp(30px, 50px, 80px)) 200px repeat(3, clamp(30px, 50px, 80px));

    grid-gap: 10px;
}

#header
{
    background-color: white;
}

#main
{
    background-color: rgb(99, 122, 122);
}

#dash
{
    display:grid;
    grid-template-columns: 1fr 1fr;
}


#dash > h1
{
    margin: 20px;
    font-size: 2.3rem;
}

#dash > img
{
    height: 80px
}
.nav-btn
{
    display: grid;

    grid-template-columns: 70px 100px;
    margin-left: 10px;
}

.nav-text
{
    font-size: 1.7rem;
}
.icon
{
    height: 30px;
    filter: invert(100%);
}


#header > .icon
{
    filter: invert(0%) 
}

#header
{
    padding: 20px;

    display: grid;
    justify-content: center;
    grid-template-columns: 100px 1000px 60px 100px 200px;
    grid-template-rows: 100px 1fr;

}
#searchbar
{
    background-color: rgb(199, 199, 199);
    width: 500px;
    height: 30px;

    border-radius: 100px;
}



.pfp
{
    border-radius: 50%;
}

#one
{
    width: 70px;
    height: 70px;

    margin-top: -15px;
}
#two
{
    width: 90px;
    height: 90px;

    margin-top: -25px;
}


#header > .accName
{
    font-size: 1.2rem;
}

#greet-message
{
    display: grid;

    grid-template-rows: 30px 40px;

    margin-top: -15px;
}
#greet-message > .accName
{
    font-size: 1.7rem;
}
.accName
{
    font-weight: 800;
}


#buttons
{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 35px;

    gap: 20px;

    
}
.btn
{
      background-color: rgb(179, 218, 218);
      font-size: 1.2rem;
      border-radius: 10%;
      border: 3px solid rgb(124, 146, 146);
}